.content {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: black;
  display: flex;
  flex-direction: column;

  .text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;

    .button {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

}

.selected {
  border: 4px solid #007bff;
}