.main {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    flex: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/hero.jpg');
    background-size: auto;
    background-position: center;

    .heroHeader {
      font-size: 2.5rem;
    }

    .heroBody {
      padding: 24px 0px;
      max-width: 50%;
      text-align: center;
    }
  }

  .cards {
    flex: 1;
  }
}
